@{
    ViewBag.Title = "Home";
}

<br>
<div class="jumbotron">
    <h1>Vidly, a shitty video store</h1>
    <p class="">The shittiest video store have you ever seen! It doesn't even have adult section O_o</p>
    <p><a href="https://www.youtube.com/watch?v=nnkyInAj6Z8" target="_blank" class="btn btn-primary btn-lg">Learn more!</a></p>
</div>