<div>
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Customers", "Index", "Customers")
            -
            @Html.ActionLink("Movies", "Index", "Movies")
        </div>
        <br>
    </div>
</div>