@{
    ViewBag.Title = "Home Page";
}
<br>
<div class="jumbotron">
    <h2>Vidly, a shitty video store</h2>
    <p class="lead">The most useless video store have you ever seen! it doesn't even have adoult section.</p>
    <p><a href="https://www.youtube.com/watch?v=o0DmJ71jSvk" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
